body { 
	font-size: 12px;
	background-color: #444;
	font-family: 'Roboto';
	color: #eee;
	overflow: hidden;
}

input#floor, input {
	width: 3em;
}

name { 
	border: 1px solid #444;  
}

svg { 
	border: 1px solid #555; 
	font: 10px sans;
}

name:hover { 
	background-color: #888; 
}

text { 
	fill: #888;
	font-size: 11px;
	font-family: 'Sans';
	user-select: none;
}

#floor_text { 
	fill: #fff;
	opacity: 0.05;
	font-size: 80px;
	font-family: 'Sans';
}

.legend { 
	display: inline-block;
	padding: 4px;  
	background-color: #f00; 
	margin-right: 4px;
	color: #fff;
	cursor: pointer;
}

close3dview, write, open3dview {
	cursor: pointer;
}

.properties_type_listing, .more_properties, #setup_underlay {
	background-color: #600;
	cursor: pointer;
}

#setup_underlay {
	margin-left: 4px;
	padding: 6px;
}

.axis path, .axis line {
	fill: none;
	stroke: #383838;
	font-family: 'Sans' 
}
status {
    cursor: default;
    float: right;
}

show-setup-box, help {
	color: #fff;
    cursor: default;
    float: right;
}

show-setup-box:hover, help:hover {
    opacity: 0.5;
}

setup-box {
    background-color: #800;
    z-index:100;
    padding: 10px;
    color: #fff;
    border: 1px solid #f00;
    position: absolute;
    top:40px;
    right:0px;
	display: none; 
}

table {
	border-collapse: collapse;
}

#overflow-div{
	overflow-y: scroll;
}

table td {
    white-space:nowrap;
	padding: 6px;
	border: 1px solid #a00; 
}

.snap_v, .snap_h { 
	stroke            : #fff;
	stroke-width      : 5;
	stroke-dasharray  : 10;
	stroke-opacity    : 0.7;
}

#var_dump {
	display: block;
	opacity: 0.8;
	position: fixed;
	left: 20px; 
	top: 40px;
	color: #f80;
	z-index: 300;
}

#ajax_msg {
	display: none;
	position: fixed;
	left: 100px; 
	top: 100px;
	max-width: 500px;
	padding: 10px;
	color: #fff;
	z-index: 1000;
}

a.blink, a.bblink {
	user-select: none;
	text-decoration: none;
	margin: 3px;
    padding:4px 8px; 
	color: #fff;
    background:#579;
    border:0 none;
    cursor:pointer;
	display: inline-block;
    padding: 5px 8px;
}
a.bblink { background: #074; } 

a.rlink {
	user-select: none;
	text-decoration: none;
	margin: 1px 3px;
    padding:4px 8px; 
	color: #fff;
    border:0 none;
    cursor:pointer;
	display: inline-block;
	background: #600;
    padding: 5px 8px;
}

input[type="submit"]:hover, .blink:hover, .bblink:hover, .rlink:hover, .nocolor:hover {
	background: #c60;
}
