<div class="single-amper-container">

  <div class="list">
    <div class="list-title" (click)="add()">
      <i class="material-icons">add_box</i> Add RAMP
    </div>
    <perfect-scrollbar #rampScrollbar (psScrollY)="scrollbarUpdate('ramp')">
      <div class="list-items">
        <div class="list-item" *ngFor="let rampItem of ramps | slice: ui.ramps.ramp.begin:(ui.ramps.ramp.begin + ui.listRange)">
          <a (click)="activate(rampItem.id)" [ngClass]="{active: rampItem === ramp}">{{rampItem.id}}</a>
          <i class="material-icons red" (click)="delete(rampItem.id)">delete_forever</i>
        </div>
      </div>
    </perfect-scrollbar>
    <div class="list-bottom" *ngIf="ramps.length > ui.listRange">
      <i class="material-icons" *ngIf="ui.ramps.ramp.begin > 0" (click)="uiStateService.decreaseRange('ramps.ramp')">chevron_left</i>
      <div>{{ui.ramps.ramp.begin}} - {{ui.ramps.ramp.begin + ui.listRange > ramps.ramps.length ? ramps.ramps.length : ui.ramps.ramp.begin
        + ui.listRange}}</div>
      <i class="material-icons" *ngIf="ui.ramps.ramp.begin + ui.listRange < ramps.length" (click)="uiStateService.increaseRange('ramps.ramp')">chevron_right</i>
    </div>
  </div>

  <div class="form-box" [ngClass]="objectType == 'current' ? 'current' : 'library'">
    <div *ngIf="!ramp">
      <label>Select or add new ramp</label>
    </div>
    <div *ngIf="ramp">

      <div class="form-title">
        <label>{{ramp.id}} definition</label>
      </div>
      <div class="form-row">
        <div>
          <label>Id:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="ramp.id" stringInput>
          </div>
        </div>
        <div>
          <label>Ramp type:</label>
          <div class="field-container">
            <select [(ngModel)]="ramp.type">
              <option *ngFor="let element of RAMP_TYPE" [ngValue]="element.value">{{element.label}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-row">
        <ramp-chart *ngIf="ramp && ramp.steps.length > 0" [rampId]="ramp.id" [value]="1" [objectType]="objectType" [xLabel]="'Time'"
          [yLabel]="'Fraction'" [units]="['s','']" [containerWidth]="'60rem'" [editor]="true"></ramp-chart>
      </div>
    </div>
  </div>

  <div class="lib-wrapper">
    <div class="lib-drawer" [ngClass]="ui.ramps.ramp.lib == 'closed' ? 'closed' : 'opened'">
      <div class="lib-label-wrapper">
        <div class="lib-label" (click)="toggleLibrary()">
          <label>LIBRARY</label>
        </div>
      </div>
      <div class="lib-area">
        <div class="list">
          <div class="list-title" (click)="add(true)">
            <i class="material-icons">add_box</i> Add RAMP
          </div>
          <perfect-scrollbar #rampLibScrollbar (psScrollY)="scrollbarUpdate('libRamp')">
            <div class="list-items">
              <div class="list-item" *ngFor="let rampItem of lib.ramps | slice: ui.ramps.libRamp.begin:(ui.ramps.libRamp.begin + ui.listRange)">
                <a (click)="activate(rampItem.id, true)" [ngClass]="{active: rampItem === ramp}">{{rampItem.id}}</a>
                <i class="material-icons" (click)="importLibraryItem(rampItem.id)">content_copy</i>
                <i class="material-icons red" (click)="delete(rampItem.id, true)">delete_forever</i>
              </div>
            </div>
          </perfect-scrollbar>
          <div class="list-bottom" *ngIf="libRamps.length > ui.listRange">
            <i class="material-icons" *ngIf="ui.ramps.libRamp.begin > 0" (click)="uiStateService.decreaseRange('ramps.libRamp')">chevron_left</i>
            <div>{{ui.ramps.libRamp.begin}} - {{ui.ramps.libRamp.begin + ui.listRange > libRamps.length ? libRamps.length : ui.ramps.libRamps.begin
              + ui.listRange}}</div>
            <i class="material-icons" *ngIf="ui.ramps.libRamp.begin + ui.listRange < libRamps.length" (click)="uiStateService.increaseRange('ramps.libRamp')">chevron_right</i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>