body {
	font-size: 13px;
	background: #444;
	margin:10px;
	font-family: "Roboto";
	color: #ddd;
	margin-bottom: 400px;
}
tt {
	display: block;
	font-size: 20px;
	width:100%;
	padding:8px;
	text-align: center;
	margin-bottom: 40px;
}

h2 {
	text-align:center;
}
td { line-height: 20px; }

td {
	border-bottom: 1px solid #555;
	min-height:10px;
	padding: 2px;
	color: #fff;
}

th {
	padding: 6px;
	color: #fff;
	font-weight: normal;
	background: #222;
	border: 1px solid #555;
}

.visible {
	display: block;
}

.invisible {
	display: none;
}

msg, fatal, cannot, msg_confirm{
	z-index: 999;
	position:fixed;
	left:0px;
	min-height: 30px;
	top:50px;
    text-align:center;
    width:500px;
	opacity: 0.9;
    background-color: #063;
    color: #fff;
    padding: 10px;
	background-position: 99% 1%;
    background-repeat: no-repeat; 

}
fatal, cannot {
    background-color: #a00;
	padding: 20px;
	border: 1px solid #fff;
	box-shadow: 0 1px 4px #000;
}


a:link, a:visited {
	color: #6af;
	text-decoration: none;
}

a.blink, a.bblink, .blink, .bblink {
	user-select: none;
	text-decoration: none;
	margin: 3px;
    padding:4px 8px; 
	color: #fff;
    background:#579;
    border:0 none;
    cursor:pointer;
	display: inline-block;
    padding: 5px 8px;
}
a.bblink, .bblink { background: #616; } 
.sblink, .srlink { 
	user-select: none !important;
	background: none !important;
	color: #6af !important;
	padding:2px !important;
} 

.srlink { 
	color: #f66 !important;
	text-decoration: none !important;
} 

.sblink:hover { color: #c60 !important; }
.srlink:hover { color: #c60 !important; }
	
a.rlink {
	user-select: none;
	text-decoration: none;
	margin: 1px 3px;
    padding:4px 8px; 
	color: #fff;
    border:0 none;
    cursor:pointer;
	display: inline-block;
	background: #600;
    padding: 5px 8px;
}

green, black, orange, red, nocolor, wheat,  .nocolor, dark {
    padding:4px 8px; 
	color: #fff;
    background:#062;
    border:0 none;
	display: inline-block;
    padding: 5px 8px;
}
black             { background:#000; }
dark			  { background:#383838; color: #bbb; }
orange            { background:#a50; }
red               { background:#600; }
wheat			  { background:wheat; color: #333; }
nocolor, .nocolor { background:none;  border: 1px solid #555; }

.blink:hover, .bblink:hover, .rlink:hover, .nocolor:hover {
	background: #c60 !important;
}

textarea {
    padding:5px;
	color: #0aa;
	background: #333;
	border: 1px solid #555;
}

total_logins {
	display: inline-block;
	margin: 80px 0px 10px 0px;
	padding: 5px 10px;
	background-color: #062;
	border: 1px solid #383;
}

fatal, cannot {
	background-image: url("close.svg");
	background-position: 99% 1%;
    background-repeat: no-repeat; 
}

textarea, input, select {
	padding: 2px;
	margin: 4px;
	color: #fff;
	background: #333;
	border: none;
}

input  {
    padding:4px 8px; 
}


::placeholder {
	color: #666;
}

input[type="submit"] {
    padding: 4px 6px 4px 6px;
	margin:1px;
	color: #fff;
    background:#579;
	border: none;
    cursor:pointer;
}

.nowrap {
	white-space: nowrap;
}
select {
    max-width:600px; 
    overflow:hidden; 
    white-space:pre; 
    text-overflow:ellipsis;
	border-bottom: 1px solid #444;
}

option {
  border: solid 1px #DDDDDD; 
}

withHelp {
    position: relative;
    display: inline-block;
	padding: 1px 4px 1px 4px;
	text-align: left;
	cursor: help;
    background-color: wheat;
	color: #222;
}

withHelp help {
    visibility: hidden;
	min-width:200px;
	max-width:600px;
	display: block;
	border: 1px solid #243;
    padding: 8px;
    position: fixed;
	left:30%;
	top:30%;
    z-index: 1;
    background-color: wheat;
    color: #444;
}
withHelp hr {
	border: 0.5px dashed #960;
}

withHelp:hover help {
    visibility: visible;
}
#g-signin-png:hover {
	cursor: pointer;
	-webkit-filter: hue-rotate(150deg);
	filter: hue-rotate(150deg);
}
table { border-collapse: collapse; }

table.noborder td, table.noborder tr {
	border-bottom: none;
	text-align: center;
}
table.nobreak td, table.nobreak tr {
	white-space: nowrap;
}
.grey {
	opacity: 0.3;
}
.no-display{
	display: none;
}

.frame {
	border: 1px solid #888;
	margin: 4px;
	padding: 4px;
}

#home {
	display: block;
	text-align: left;
	padding: 20px;

}
dd {
	float:right;
	z-index: 1001;
}

right-menu-box, left-menu-box { cursor: default; user-select: none; background-color: #555; z-index:100; padding: 10px; border: 1px solid #888; position: absolute; top:60px; display: none; }
left-menu-box                 { display: block; left: 0px; text-align: center; }
right-menu-box                { right: 0px; }

button-right-menu-box, button-left-menu-box { user-select: none; text-decoration: none; color:#6af; padding: 1px; cursor: pointer; position: absolute; top:6px;  }
write, open3dview                           { user-select: none; text-decoration: none; color:#6af; padding: 1px; cursor: pointer; font-size: 11px; }
close-left-menu-box, close-right-menu-box   { font-size: 18px; color: #6af; float: right; cursor:pointer; }
button-left-menu-box                        { left:4px; font-size: 16px; font-weight: bold; cursor: pointer; }
button-right-menu-box                       { right:4px; cursor: pointer; }

button-right-menu-box:hover, button-left-menu-box:hover, write:hover, open3dview:hover { color: #c60 !important; }
close-left-menu-box:hover, close-right-menu-box:hover  { opacity: 0.3; }

.left-menu                    { padding-left: 15px; }
.left-menu a, left-menu-box a { width: 80px !important; text-align: center !important; }
#ajax_msg                     { display: none; position: fixed; left: 150px; top: 60px; max-width: 500px; padding: 10px; color: #fff; z-index: 1000; }
#python_msg                   { display: block; position: fixed; left: 150px; top: 60px; max-width: 500px; padding: 10px; color: #fff; z-index: 100; background-color: #800; }

#floating-div { position:absolute; left:10px; top: 10px; width:100%; height:100%; z-index: 300; }
