<div class="amper-container">
  <div class="form-box">
    <div class="form-row">
      <div>
        <label>Modify default values:</label>
        <div class="field-container">
          <input type="checkbox" [(ngModel)]="settings.userDefinedData" />
        </div>
      </div>
    </div>
  </div>

  <div class="form-box" *ngIf="settings.userDefinedData">

    <div class="form-title">
      <label class='header'>General</label>
    </div>
    <div class="form-row">
      <div>
        <label>Indoor temperature:</label>
        <div class="field-container">
          <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="general.indoorTemperature" decimalInput>
          <ng-katex equation="\degree C"></ng-katex>
        </div>
      </div>
      <div>
        <label>Indoor temperature std:</label>
        <div class="field-container">
          <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="general.indoorTemperatureSd" decimalInput>
          <ng-katex equation="\degree C"></ng-katex>
        </div>
      </div>
      <div>
        <label>Outdoor temperature:</label>
        <div class="field-container">
          <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="general.outdoorTemperature" decimalInput>
          <ng-katex equation="\degree C"></ng-katex>
        </div>
      </div>
      <div>
        <label>Outdoor temperature std:</label>
        <div class="field-container">
          <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="general.outdoorTemperatureSd" decimalInput>
          <ng-katex equation="\degree C"></ng-katex>
        </div>
      </div>
    </div>

    <div class="form-title">
      <label class='header'>Sprinklers</label>
    </div>
    <div class="form-row">
      <div>
        <label>Has sprinklers:</label>
        <div class="field-container">
          <input type="checkbox" [(ngModel)]="buildingInfrastructure.hasSprinklers" />
        </div>
      </div>
      <div *ngIf="buildingInfrastructure.hasSprinklers">
        <label>RTI:</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="buildingInfrastructure.sprinklers.rti" decimalInput>
        </div>
      </div>
      <div *ngIf="buildingInfrastructure.hasSprinklers">
        <label>Activation temperature:</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="buildingInfrastructure.sprinklers.activationTemperature" decimalInput>
          <ng-katex equation="\degree C"></ng-katex>
        </div>
      </div>
      <div *ngIf="buildingInfrastructure.hasSprinklers">
        <label>Activation temperature std:</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="buildingInfrastructure.sprinklers.activationTemperatureSd" decimalInput>
          <ng-katex equation="\degree C"></ng-katex>
        </div>
      </div>
      <div *ngIf="buildingInfrastructure.hasSprinklers">
        <label>Spray density:</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="buildingInfrastructure.sprinklers.sprayDensity" decimalInput>
          <ng-katex equation=""></ng-katex>
        </div>
      </div>
      <div *ngIf="buildingInfrastructure.hasSprinklers">
        <label>Spray density std:</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="buildingInfrastructure.sprinklers.sprayDensitySd" decimalInput>
          <ng-katex equation=""></ng-katex>
        </div>
      </div>
      <div *ngIf="buildingInfrastructure.hasSprinklers">
        <label>Not broken probability:</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="buildingInfrastructure.sprinklers.notBrokenProbability" decimalInput>
        </div>
      </div>
    </div>

    <div class="form-title">
      <label class='header'>Fire detectors</label>
    </div>
    <div class="form-row">
      <div>
        <label>Has detectors:</label>
        <div class="field-container">
          <input type="checkbox" [(ngModel)]="buildingInfrastructure.hasDetectors" />
        </div>
      </div>
      <div *ngIf="buildingInfrastructure.hasDetectors">
        <label>Detector type:</label>
        <div class="field-container">
          <select [(ngModel)]="buildingInfrastructure.detectors.type">
            <option *ngFor="let element of DETECTOR_TYPE" [ngValue]="element.value">{{element.label}}</option>
          </select>
        </div>
      </div>
      <div *ngIf="buildingInfrastructure.hasDetectors && buildingInfrastructure.detectors.type == 'heat'">
        <label>RTI:</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="buildingInfrastructure.detectors.rti" decimalInput>
        </div>
      </div>
      <div *ngIf="buildingInfrastructure.hasDetectors && buildingInfrastructure.detectors.type == 'heat'">
        <label>Activation temperature:</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="buildingInfrastructure.detectors.activationTemperature" decimalInput>
          <ng-katex equation="\degree C"></ng-katex>
        </div>
      </div>
      <div *ngIf="buildingInfrastructure.hasDetectors && buildingInfrastructure.detectors.type == 'heat'">
        <label>Activation temperature std:</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="buildingInfrastructure.detectors.activationTemperatureSd" decimalInput>
          <ng-katex equation="\degree C"></ng-katex>
        </div>
      </div>
      <div *ngIf="buildingInfrastructure.hasDetectors && buildingInfrastructure.detectors.type == 'smoke'">
        <label>Activation obscuration:</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="buildingInfrastructure.detectors.activationObscuration" decimalInput>
          <ng-katex equation=""></ng-katex>
        </div>
      </div>
      <div *ngIf="buildingInfrastructure.hasDetectors && buildingInfrastructure.detectors.type == 'smoke'">
        <label>Activation obscuration std:</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="buildingInfrastructure.detectors.activationObscurationSd" decimalInput>
          <ng-katex equation=""></ng-katex>
        </div>
      </div>
      <div *ngIf="buildingInfrastructure.hasDetectors && buildingInfrastructure.detectors.type == 'smoke'">
        <label>Not broken probability:</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="buildingInfrastructure.detectors.notBrokenProbability" decimalInput>
        </div>
      </div>
    </div>

    <div class="form-title">
      <label class='header'>Heat Release Rate</label>
    </div>

    <div class="form-row">
      <div>
        <label>HRRPUA min</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.heatReleaseRate.hrrpuaMinModeMax[0]" decimalInput>
        </div>
      </div>
      <div>
        <label>HRRPUA mode</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.heatReleaseRate.hrrpuaMinModeMax[1]" decimalInput>
        </div>
      </div>
      <div>
        <label>HRRPUA max</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.heatReleaseRate.hrrpuaMinModeMax[2]" decimalInput>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div>
        <label>Alpha min</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.heatReleaseRate.alphaMinModeMax[0]" decimalInput>
        </div>
      </div>
      <div>
        <label>Alpha mode</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.heatReleaseRate.alphaMinModeMax[1]" decimalInput>
        </div>
      </div>
      <div>
        <label>Alpha max</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.heatReleaseRate.alphaMinModeMax[2]" decimalInput>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div>
        <label>Fire starts in room probabliity</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.originOfFire.fireStartsInRoomProbability" decimalInput>
        </div>
      </div>
    </div>

    <div class="form-title">
      <label class='header'>Evacuation concentration (density)</label>
    </div>

    <div class="form-row">
      <div>
        <label>Corridor</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.evacueesConcentration.cor" decimalInput>
        </div>
      </div>
      <div>
        <label>Staircase</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.evacueesConcentration.stai" decimalInput>
        </div>
      </div>
      <div>
        <label>Room</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.evacueesConcentration.room" decimalInput>
        </div>
      </div>
      <div>
        <label>Hall</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.evacueesConcentration.hall" decimalInput>
        </div>
      </div>
    </div>

    <div class="form-title">
      <label class='header'>Evacuees parameters</label>
    </div>

    <div class="form-row">
      <div>
        <label>Mean horizontal speed</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.evacueesSpeedParams.maxHSpeedMeanAndSd[0]"
            decimalInput>
        </div>
      </div>
      <div>
        <label>Standard deviation</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.evacueesSpeedParams.maxHSpeedMeanAndSd[1]"
            decimalInput>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div>
        <label>Mean vertical speed</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.evacueesSpeedParams.maxVSpeedMeanAndSd[0]"
            decimalInput>
        </div>
      </div>
      <div>
        <label>Standard deviation</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.evacueesSpeedParams.maxVSpeedMeanAndSd[1]"
            decimalInput>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div>
        <label>Mean vertical beta</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.evacueesSpeedParams.betaVMeanAndSd[0]" decimalInput>
        </div>
      </div>
      <div>
        <label>Standard deviation</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.evacueesSpeedParams.betaVMeanAndSd[1]" decimalInput>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div>
        <label>Mean vertical alpha</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.evacueesSpeedParams.alphaVMeanAndSd[0]" decimalInput>
        </div>
      </div>
      <div>
        <label>Standard deviation</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.evacueesSpeedParams.alphaVMeanAndSd[1]" decimalInput>
        </div>
      </div>
    </div>

    <div class="form-title">
      <label class='header'>Pre-evacuation time</label>
    </div>

    <div class="form-row">
      <div>
        <label>Ordinary room loc</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.preEvacuationTime.meanAndSdOrdinaryRoom[0]"
            decimalInput>
        </div>
      </div>
      <div>
        <label>Ordinary room scale</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.preEvacuationTime.meanAndSdOrdinaryRoom[1]"
            decimalInput>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div>
        <label>Origin room loc</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.preEvacuationTime.meanAndSdRoomOfFireOrigin[0]"
            decimalInput>
        </div>
      </div>
      <div>
        <label>Origin room scale</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.preEvacuationTime.meanAndSdRoomOfFireOrigin[1]"
            decimalInput>
        </div>
      </div>
    </div>

    <div class="form-title">
      <label class='header'>Door</label>
    </div>

    <div class="form-row">
      <div>
        <label>Electromagnet door probability</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.doorOpen.electroMagnetDoorIsOpenProbability"
            decimalInput>
        </div>
      </div>
      <div>
        <label>Door closer probability</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.doorOpen.doorCloserDoorIsOpenProbability" decimalInput>
        </div>
      </div>
      <div>
        <label>Standard door probability</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.doorOpen.standardDoorIsOpenProbability" decimalInput>
        </div>
      </div>
      <div>
        <label>Vertical vents probability</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="settings.doorOpen.vventsNoFailureProbability" decimalInput>
        </div>
      </div>
    </div>



  </div>
</div>