$green: #009688;
$white: #eee;
$grey: #888;
$blue: #29B6F6;
$blue-dark: #1E88E5;
$green: #9CCC65;
$orange: #FF9800;
$orange-light: #FFF3E0;

$grey-hover: #606060;

$grey1: #303030;
$grey2: #404040;
$grey3: #505050;
$grey4: #606060;
$grey5: #707070;
$grey6: #808080;

$border-light: #565656;
$border-dark: #303030;

$shadow-light: #363636;	
$shadow-dark: #323232;

$active: #aaa;
$active1: #1E88E5;
$passive: #565555;
$body: #383838;

.header {
    height: 8rem;
}

.container {
    display: grid;
    grid-template-columns: 12% auto;
    grid-column-gap: 1rem;
    height: calc(100vh - 10rem);

    .menu {
        display: grid;
        align-self: top;
        background-color: $grey3;
        border: 1px solid $border-dark;
    }

    .main {
        background-color: $grey3;
        border: 1px solid $border-dark;
        margin-right: 1rem;
        height: 100%;

        // Hiding lib & help
        overflow-x: hidden;
    }
}