<div class="single-amper-container">

  <div class="list">
    <div class="list-title" (click)="add()">
      <i class="material-icons">add_box</i> Add FUEL
    </div>
    <perfect-scrollbar #fuelScrollbar (psScrollY)="scrollbarUpdate('fuel')">
      <div class="list-items">
        <div class="list-item" *ngFor="let fuelItem of fuels | slice: ui.fires.fuel.begin:(ui.fires.fuel.begin + ui.listRange)">
          <a (click)="activate(fuelItem.id)" [ngClass]="{active: fuelItem === fuel}">{{fuelItem.id}}</a>
          <i class="material-icons red" (click)="delete(fuelItem.id)">delete_forever</i>
        </div>
      </div>
    </perfect-scrollbar>
    <div class="list-bottom" *ngIf="fuels.length > ui.listRange">
      <i class="material-icons" *ngIf="ui.fires.fuel.begin > 0" (click)="uiStateService.decreaseRange('fuels.fuel')">chevron_left</i>
      <div>{{ui.fires.fuel.begin}} - {{ui.fires.fuel.begin + ui.listRange > fuels.length ? fuels.length : ui.fires.obst.begin
        + ui.listRange}}</div>
      <i class="material-icons" *ngIf="ui.fires.fuel.begin + ui.listRange < fuels.length" (click)="uiStateService.increaseRange('fuels.fuel')">chevron_right</i>
    </div>
  </div>

  <div class="form-box" [ngClass]="objectType == 'current' ? 'current' : 'library'">
    <div *ngIf="!fuel">
      <label>Select or add new material</label>
    </div>
    <div *ngIf="fuel">

      <div class="form-title">
        <label>{{fuel.id}} definition</label>
      </div>

      <div class="form-row">
        <div>
          <label>Id:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fuel.id" stringInput/>
          </div>
        </div>
        <div>
          <label>Fuel specie:</label>
          <div class="field-container">
            <select [(ngModel)]="fuel.spec">
              <option [ngValue]="undefined">No specie</option>
              <option *ngFor="let spec of specs" [ngValue]="spec">{{spec.id}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-title">
        <label class="header">Chemical reaction definition</label>
      </div>

      <div *ngIf="fuel.spec == undefined" class="form-row">
        <div>
          <label>Formula:</label>
          <div class="field-container">
            <input type="text" [(ngModel)]="fuel.formula" />
          </div>
        </div>
        <div *ngIf="fuel.formula == ''">
          <label>C:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fuel.c" decimalInput>
          </div>
        </div>
        <div *ngIf="fuel.formula == ''">
          <label>H:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fuel.h" decimalInput>
          </div>
        </div>
        <div *ngIf="fuel.formula == ''">
          <label>O:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fuel.o" decimalInput>
          </div>
        </div>
        <div *ngIf="fuel.formula == ''">
          <label>N:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fuel.n" decimalInput>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div>
          <label>Heat of combustion:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fuel.heat_of_combustion" decimalInput>
            <ng-katex equation="kJ/kg"></ng-katex>
          </div>
        </div>
        <div>
          <label>Soot yield:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fuel.soot_yield" decimalInput>
          </div>
        </div>
        <div>
          <label>CO yield:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fuel.co_yield" decimalInput>
          </div>
        </div>
        <div>
          <label>Radiative fraction:</label>
          <div class="field-container">
            <input type=text [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fuel.radiative_fraction" decimalInput>
          </div>
        </div>
        <div>
          <label>Radcal ID:</label>
          <div class="field-container">
            <select [(ngModel)]="fuel.fuel_radcal_id">
              <option *ngFor="let element of RADCALS" [ngValue]="element.value">{{element.label}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class=" lib-wrapper ">
    <div class="lib-drawer " [ngClass]="ui.fires.fuel.lib=='closed' ? 'closed' : 'opened' ">
      <div class="lib-label-wrapper ">
        <div class="lib-label " (click)="toggleLibrary() ">
          <label>LIBRARY</label>
        </div>
      </div>
      <div class="lib-area ">
        <div class="list ">
          <div class="list-title " (click)="add(true) ">
            <i class="material-icons ">add_box</i> Add FUEL
          </div>
          <perfect-scrollbar #fuelLibScrollbar (psScrollY)="scrollbarUpdate( 'libFuel') ">
            <div class="list-items ">
              <div class="list-item " *ngFor="let fuelItem of lib.fuels | slice: ui.fires.libFuel.begin:(ui.fires.libFuel.begin + ui.listRange) ">
                <a (click)="activate(fuelItem.id, true) " [ngClass]="{active: fuelItem===fuel} ">{{fuelItem.id}}</a>
                <i class="material-icons " (click)="importLibraryItem(fuelItem.id) ">merge_type</i>
                <i class="material-icons red " (click)="delete(fuelItem.id, true) ">delete_forever</i>
              </div>
            </div>
          </perfect-scrollbar>
          <div class="list-bottom " *ngIf="libFuels.length> ui.listRange">
            <i class="material-icons" *ngIf="ui.fires.libFuel.begin > 0" (click)="uiStateService.decreaseRange('fuels.libFuel')">chevron_left</i>
            <div>{{ui.fires.libFuel.begin}} - {{ui.fires.libFuel.begin + ui.listRange > libFuels.length ? libFuels.length : ui.fires.obst.begin
              + ui.listRange}}</div>
            <i class="material-icons" *ngIf="ui.fires.libFuel.begin + ui.listRange < libFuels.length" (click)="uiStateService.increaseRange('fuels.libFuel')">chevron_right</i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>