<div>
  <div class="n1">
    <i class="material-icons null"></i>
    <a routerLink="risk/general" (click)="activate('general')" [ngClass]="{'active': uiState.active == 'general'}">General</a>
  </div>
  <div class="n1">
    <i class="material-icons null"></i>
    <a routerLink="risk/characteristic" (click)="activate('characteristic')" [ngClass]="{'active': uiState.active == 'characteristic'}">Characteristic</a>
  </div>
  <div class="n1">
    <i class="material-icons null"></i>
    <a routerLink="risk/infrastructure" (click)="activate('infrastructure')" [ngClass]="{'active': uiState.active == 'infrastructure'}">Infrastructure</a>
  </div>
  <div class="n1">
    <i class="material-icons null"></i>
    <a routerLink="risk/settings" (click)="activate('settings')" [ngClass]="{'active': uiState.active == 'settings'}">Settings</a>
  </div>
  <div class="n1">
    <i class="material-icons null"></i>
    <a routerLink="risk/results" (click)="activate('results')" [ngClass]="{'active': uiState.active == 'results'}">Results</a>
  </div>
</div>