<div>
  <div class="n1">
    <i class="material-icons null"></i>
    <a routerLink="risk/general">General</a>
  </div>
  <div class="n1">
    <i class="material-icons null"></i>
    <a routerLink="risk/characteristic">Characteristic</a>
  </div>
  <div class="n1">
    <i class="material-icons null"></i>
    <a routerLink="risk/infrastructure">Infrastructure</a>
  </div>
  <div class="n1">
    <i class="material-icons null"></i>
    <a routerLink="risk/settings">Settings</a>
  </div>
  <div class="n1">
    <i class="material-icons null"></i>
    <a routerLink="risk/results">Results</a>
  </div>
</div>