/*
http://lesscss.org/ dark theme
Ported to CodeMirror by Peter Kroon
*/
.cm-s-fds {
  line-height: 1.3em;
}
.cm-s-fds.CodeMirror { background: #262626; color: #EBEFE7; text-shadow: 0 -1px 1px #262626; }
.cm-s-fds div.CodeMirror-selected { background: #45443B; } /* 33322B*/
.cm-s-fds .CodeMirror-line::selection, .cm-s-fds .CodeMirror-line > span::selection, .cm-s-fds .CodeMirror-line > span > span::selection { background: rgba(69, 68, 59, .99); }
.cm-s-fds .CodeMirror-line::-moz-selection, .cm-s-fds .CodeMirror-line > span::-moz-selection, .cm-s-fds .CodeMirror-line > span > span::-moz-selection { background: rgba(69, 68, 59, .99); }
.cm-s-fds .CodeMirror-cursor { border-left: 1px solid white; }
.cm-s-fds pre { padding: 0 8px; }/*editable code holder*/
.cm-s-fds span { color: white; }/*editable code holder*/

.cm-s-fds.CodeMirror span.CodeMirror-matchingbracket { color: #7EFC7E; }/*65FC65*/

.cm-s-fds .CodeMirror-gutters { background: #262626; border-right:1px solid #aaa; }
.cm-s-fds .CodeMirror-guttermarker { color: #599eff; }
.cm-s-fds .CodeMirror-guttermarker-subtle { color: #777; }
.cm-s-fds .CodeMirror-linenumber { color: #777; }
.cm-s-fds .CodeMirror-line-error { 
	background: #4d0303 !important;
}


/* Te używamy */
.cm-s-fds span.cm-keyword { color: #a45;}
.cm-s-fds span.cm-string { color: #6c8; }
.cm-s-fds span.cm-comma { color: white; }
.cm-s-fds span.cm-equal { color: #7cd; }
.cm-s-fds span.cm-bndf { color: #7cd; }
.cm-s-fds span.cm-clip { color: #7cd; }
.cm-s-fds span.cm-csvf { color: #7cd; }
.cm-s-fds span.cm-ctrl { color: #7cd; }
.cm-s-fds span.cm-devc { color: #7cd; }
.cm-s-fds span.cm-dump { color: #7cd; }
.cm-s-fds span.cm-head { color: #7cd; }
.cm-s-fds span.cm-hole { color: #7cd; }
.cm-s-fds span.cm-hvac { color: #7cd; }
.cm-s-fds span.cm-init { color: #7cd; }
.cm-s-fds span.cm-isof { color: #7cd; }
.cm-s-fds span.cm-matl { color: #7cd; }
.cm-s-fds span.cm-mesh { color: #7cd; }
.cm-s-fds span.cm-misc { color: #7cd; }
.cm-s-fds span.cm-mult { color: #7cd; }
.cm-s-fds span.cm-obst { color: #7cd; }
.cm-s-fds span.cm-part { color: #7cd; }
.cm-s-fds span.cm-pres { color: #7cd; }
.cm-s-fds span.cm-prof { color: #7cd; }
.cm-s-fds span.cm-prop { color: #7cd; }
.cm-s-fds span.cm-radi { color: #7cd; }
.cm-s-fds span.cm-ramp { color: #7cd; }
.cm-s-fds span.cm-reac { color: #7cd; }
.cm-s-fds span.cm-slcf { color: #7cd; }
.cm-s-fds span.cm-spec { color: #7cd; }
.cm-s-fds span.cm-surf { color: #7cd; }
.cm-s-fds span.cm-tabl { color: #7cd; }
.cm-s-fds span.cm-time { color: #7cd; }
.cm-s-fds span.cm-trnx { color: #7cd; }
.cm-s-fds span.cm-vent { color: #7cd; }
.cm-s-fds span.cm-zone { color: #7cd; }
.cm-s-fds span.cm-atom { color: wheat; }
.cm-s-fds span.cm-number { color: wheat; }
.cm-s-fds span.cm-comment { color: #666; }
/* .cm-s-fds span.cm-error { background-color: #9d1e15; color: white; }
/*.cm-s-fds span.cm-error { color: #9d1e15; }*/


/* Te nie */

.cm-s-fds span.cm-header { color: #a0a; }
.cm-s-fds span.cm-quote { color: #090; }
.cm-s-fds span.cm-def { color: white; }
.cm-s-fds span.cm-variable { color:#D9BF8C; }
.cm-s-fds span.cm-variable-2 { color: #669199; }
.cm-s-fds span.cm-variable-3 { color: white; }
.cm-s-fds span.cm-property { color: #92A75C; }
.cm-s-fds span.cm-operator { color: #92A75C; }
.cm-s-fds span.cm-string-2 { color: #f50; }
.cm-s-fds span.cm-meta { color: #738C73; }
.cm-s-fds span.cm-qualifier { color: #555; }
.cm-s-fds span.cm-builtin { color: #ff9e59; }
.cm-s-fds span.cm-bracket { color: #EBEFE7; }
.cm-s-fds span.cm-tag { color: #669199; }
.cm-s-fds span.cm-attribute { color: #00c; }
.cm-s-fds span.cm-hr { color: #999; }
.cm-s-fds span.cm-link { color: #00c; }

.cm-s-fds .CodeMirror-activeline-background { background: #3C3A3A; }
.cm-s-fds .CodeMirror-matchingbracket { outline:1px solid grey; color:white !important; }
