<div class="amper-container">

  <div class="form-box">
    <div class="form-title">
      <label class="header">Combustion</label>
    </div>
    <div class="form-row">
      <div>
        <label>Turn on combustion reaction:</label>
        <div class="field-container">
          <input type="checkbox" [(ngModel)]="fires.combustion.turnOnReaction" />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div>
        <label>Id: </label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fires.combustion.id" />
        </div>
      </div>
    </div>

    <div class="form-title">
      <label class="header">Radiataion</label>
    </div>
    <div class="form-row">
      <div>
        <label>Turn on radiation:</label>
        <div class="field-container">
          <input type="checkbox" [(ngModel)]="fires.radiation.radiation" />
        </div>
      </div>
      <div>
        <label>Radiative fraction:</label>
        <div class="field-container">
          <input type=text [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fires.combustion.fuel.radiative_fraction" decimalInput>
        </div>
      </div>
      <div>
        <label>Radcal ID:</label>
        <div class="field-container">
          <select [(ngModel)]="fires.combustion.fuel.fuel_radcal_id">
            <option *ngFor="let element of RADCALS" [ngValue]="element.value">{{element.label}}</option>
          </select>
        </div>
      </div>
      <div>
        <label>Number of radiation angles:</label>
        <div class="field-container">
          <input type=text [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fires.radiation.number_radiation_angles" decimalInput>
        </div>
      </div>
      <div>
        <label>Time step increment:</label>
        <div class="field-container">
          <input type=text [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fires.radiation.time_step_increment" decimalInput>
        </div>
      </div>
    </div>
  </div>

</div>