<div>
  <div class="n1">
    <i class="material-icons null"></i>
    <a routerLink="fds/general" (click)="activate('general')" [ngClass]="{'active': uiState.active == 'general'}">General</a>
  </div>

  <div class="n1" (click)="toggleMenu('geometry')">
    <i *ngIf="!uiState.fdsMenu.geometry" class="material-icons">expand_more</i>
    <i *ngIf="uiState.fdsMenu.geometry" class="material-icons">expand_less</i>
    <a>Geometry</a>
  </div>
  <div class="ng2" [ngClass]="uiState.fdsMenu.geometry ? 'open' : 'close'">
    <div class="n2">
      <a routerLink="fds/geometry/mesh" (click)="activate('mesh')" [ngClass]="{'active': uiState.active == 'mesh'}">Mesh</a>
    </div>
    <div class="n2">
      <a routerLink="fds/geometry/material" (click)="activate('material')" [ngClass]="{'active': uiState.active == 'material'}">Material</a>
    </div>
    <div class="n2">
      <a routerLink="fds/geometry/surface" (click)="activate('surface')" [ngClass]="{'active': uiState.active == 'surface'}">Surface</a>
    </div>
    <div class="n2">
      <a routerLink="fds/geometry/obstruction" (click)="activate('obstruction')" [ngClass]="{'active': uiState.active == 'obstruction'}">Obstruction</a>
    </div>
  </div>

  <div class="n1" (click)="toggleMenu('ventilation')">
    <i *ngIf="!uiState.fdsMenu.ventilation" class="material-icons">expand_more</i>
    <i *ngIf="uiState.fdsMenu.ventilation" class="material-icons">expand_less</i>
    <a>Ventilation</a>
  </div>
  <div class="ng2" [ngClass]="uiState.fdsMenu.ventilation ? 'open' : 'close'">
    <div class="n2">
      <a routerLink="fds/ventilation/basic" (click)="activate('basic')" [ngClass]="{'active': uiState.active == 'basic'}">Basic</a>
    </div>
    <div class="n2">
      <a routerLink="fds/ventilation/jetfan" (click)="activate('jetfan')" [ngClass]="{'active': uiState.active == 'jetfan'}">Jetfan</a>
    </div>
  </div>

  <div class="n1" (click)="toggleMenu('fire')">
    <i *ngIf="!uiState.fdsMenu.fire" class="material-icons">expand_more</i>
    <i *ngIf="uiState.fdsMenu.fire" class="material-icons">expand_less</i>
    <a>Fire</a>
  </div>
  <div class="ng2" [ngClass]="uiState.fdsMenu.fire ? 'open' : 'close'">
    <div class="n2">
      <a routerLink="fds/fire/fires" (click)="activate('fires')" [ngClass]="{'active': uiState.active == 'fires'}">Fires</a>
    </div>
    <div class="n2">
      <a routerLink="fds/fire/combustion" (click)="activate('combustion')" [ngClass]="{'active': uiState.active == 'combustion'}">Combustion</a>
    </div>
  </div>

  <div class="n1" (click)="toggleMenu('output')">
    <i *ngIf="!uiState.fdsMenu.output" class="material-icons">expand_more</i>
    <i *ngIf="uiState.fdsMenu.output" class="material-icons">expand_less</i>
    <a>Output</a>
  </div>
  <div class="ng2" [ngClass]="uiState.fdsMenu.output ? 'open' : 'close'">
    <div class="n2">
      <a routerLink="fds/output/dump" (click)="activate('dump')" [ngClass]="{'active': uiState.active == 'dump'}">Dump</a>
    </div>
    <div class="n2">
      <a routerLink="fds/output/boundary" (click)="activate('boundary')" [ngClass]="{'active': uiState.active == 'boundary'}">Boundary</a>
    </div>
    <div class="n2">
      <a routerLink="fds/output/slice" (click)="activate('slice')" [ngClass]="{'active': uiState.active == 'slice'}">Slice</a>
    </div>
    <div class="n2">
      <a routerLink="fds/output/isosurface" (click)="activate('isosurface')" [ngClass]="{'active': uiState.active == 'isosurface'}">Isosurface</a>
    </div>
    <div class="n2">
      <a routerLink="fds/output/device" (click)="activate('device')" [ngClass]="{'active': uiState.active == 'device'}">Device</a>
    </div>
  </div>

  <div class="n1">
    <i class="material-icons null"></i>
    <a routerLink="fds/ramp" (click)="activate('ramp')" [ngClass]="{'active': uiState.active == 'ramp'}">Ramp</a>
  </div>

  <div class="n1">
    <i class="material-icons null"></i>
    <a routerLink="fds/input" (click)="activate('input')" [ngClass]="{'active': uiState.active == 'input'}">Input file</a>
  </div>

</div>
