<div class="project-header">
    <div class="add-project" (click)="addProject()">
        <i class="material-icons">add_box</i>
        <label>Add project</label>
    </div>
    <div class="project-categories">
        <div class="project-category" [ngClass]="category.active ? 'activeCategory' : ''" (click)="category.triggerActive(); changeCategoryActivity(category.uuid, categoryIndex)"
            *ngFor="let category of main.categories; index as categoryIndex" ng-show="category.visible==true">
            <p>{{category.label}}</p>
        </div>
    </div>
</div>
<div *ngFor="let project of projects; index as projectIndex">
    <div class="project" *ngIf="checkProjectCategory(project.category)">
        <div>
            <i class="material-icons mr+" *ngIf="main.currentProject == undefined || project.id != main.currentProject.id" (click)="setCurrentProject(project.id)">expand_more</i>
            <i class="material-icons mr+" *ngIf="main.currentProject != undefined && project.id == main.currentProject.id" (click)="unsetCurrentProject()">expand_less</i>
            <input type="text" [(ngModel)]="project.name" [ngModelOptions]="{updateOn:'blur'}" (blur)="updateProject(projectIndex)" />
        </div>
        <div>
            <ng-select class="mr+" [items]="main.categories" bindLabel="label" bindValue="uuid" placeholder="Select category" [(ngModel)]="project.category"
                [searchable]="false" [clearable]="false"></ng-select>
        </div>
        <div>
            <label class="mr+">Description:</label>
            <input type="text" [(ngModel)]="project.description" [ngModelOptions]="{updateOn:'blur'}" (blur)="updateProject(projectIndex)"
            />
        </div>
        <div class="project-controls">
            <div class="add-button" (click)="addRiskScenario(project.id)">
                <label>Add Risk Scenario</label>
                <i class="material-icons">add_box</i>
            </div>
            &nbsp;|&nbsp;
            <div class="delete-button" (click)="deleteProject(projectIndex)">
                <label>Delete project</label>
                <i class="material-icons red" (click)="deleteProject(projectIndex)">delete_forever</i>
            </div>
            &nbsp;|
        </div>
    </div>

    <div class="scenario" [ngClass]="main.currentProject != undefined && project.id == main.currentProject.id ? 'open' : 'close'">
        <div class="scenario-item" *ngFor="let riskScenario of project.riskScenarios; index as riskScenarioIndex;" [ngClass]="main.currentriskScenario != undefined && riskScenario.id == main.currentRiskScenario.id ? 'activeScenario' : ''">
            <div class="scenario-signature" (click)="setCurrentRiskScenario(project.id, riskScenario.id)">
                <i class="material-icons ico mr+">apps</i>
                <input type="text" [(ngModel)]="riskScenario.name" [ngModelOptions]="{updateOn:'blur'}" (blur)="updateRiskScenario(project.id, riskScenario.id)"
                />
            </div>
            <div class="scenario-controls">
                &nbsp;|&nbsp;
                <span>
                    <i class="material-icons red" (click)="deleteRiskScenario(projectIndex, riskScenarioIndex)">delete_forever</i>
                </span>
                &nbsp;|
            </div>
        </div>
    </div>
</div>