@import '../main.component.scss';

$open-time: .1s;
$close-time: .1s;
$open-curve: ease-out;
$close-curve: ease-in;
$red: #FF516D;

.project-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2.5rem;
    background-color: $grey1;
    box-shadow: 0 -1px 0 $shadow-dark inset;
    
    label {
        font-size: 0.9rem;
        cursor: pointer;
    }
    div.add-project {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
    }
    div.add-project:hover {
        color: $blue;
        i {
            color: $blue;
        }
    }
    i:first-child {
        margin-left: 2px;
    }
    .project-categories {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;
        .project-category {
            cursor: pointer;
            padding: 0.2rem 0.5rem 0.2rem 0.5rem;
            margin-left: 2px;
            background-color: $passive;
        }
        .project-category.activeCategory {
            background-color: $active1;
        }
    }
    i:last-child {
        margin-left: 2px;
    }
}


.project {
    display: grid;
    grid-template-columns: 25% 10% 40% auto;
    grid-column-gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    height: 2.5rem;
	//border-bottom: 1px solid $border-light;
    box-shadow: 0 -1px 0 $shadow-dark inset;
    background-color: $grey2;
    input {
        border: none;
        box-shadow: none;
        background-color: none;
        width: 18rem;
    }
    label {
        font-size: 0.9rem;
        cursor: pointer;
    }
    .project-controls {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        .add-button:hover {
            color: $blue;
            i {
                color: $blue;
            }
        }
        .delete-button:hover {
            color: $red;
            i {
                color: $red;
            }
        }
    }
    
}

.scenario {
    border-bottom: 1px solid $border-light;
    background-color: $grey3;
    overflow: hidden;
    input {
        margin-right: 2rem;
        background-color: none;
        border: none;
        box-shadow: none;
        width: 16rem;
    }
    .scenario-item {
        display: grid;
        grid-template-columns: 70% auto;
        grid-column-gap: 1rem;
        align-items: center;
		height: 2.5rem;
		cursor: pointer;
		border-left: 2px solid $grey3;
		.scenario-signature {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			padding-left: 2rem;
		}
		.scenario-controls {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			padding-right: 1rem;
		}
	}

	.scenario-item:hover {
		background-color: $grey-hover;
		i.ico {
			color: $blue;
		}
	}
	.scenario-item:last-child {
		border-bottom: none;
	}

	.scenario-item.activeScenario {
		background-color: $grey-hover;
		border-left: 2px solid $blue;
		i.ico {
			color: $blue;
		}
	}
}

.scenario.open {
    max-height: 100rem;
	transition: max-height $open-time $open-curve;
}

.scenario.close {
    max-height: 0;
	transition: max-height $close-time cubic-bezier(0, 1, 0, 1);
}