@import '../../../main.component.scss';

select {
    background-color: #222;
    margin: 0;
    color: #fff;
    max-width: 12rem;
}

canvas { 
    border: 1px solid #444;
    width: 1600px;
    height: 700px;
    background: #000;
} 

p.setup-toggle {
    cursor: pointer;
    text-align: right;
    padding: 0.3rem;
}

div#canvas-mouse-coords {
    z-index:100;
    display: none;
    background-color: #444;
    font-size: 12px;
    padding: 4px;
    color: #fff;
    border: 1px solid #777;
    position: absolute;
}

div.vis-title {
    padding: 1rem;
}

div.play-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    .progress {
        background-color: $grey6;
        width: 60%;
        height: 1rem;
        .progress-bar {
            background-color: $grey1;
            height: 1rem;
        }
    }
}

table {
    border-spacing: 2px 2px;
}

td {
    border-bottom: 1px solid #a00;
    padding: 6px;
    color: #fff;
}

th {
    padding: 6px;
    color: #fff;
    font-weight: normal;
    background: #222;
    border: 1px solid #555;
}

ered {
    padding: 6px;
    background: #800;
    color: #fff;
}

div#animation-setup-box {
    opacity: 0.9;
    background-color: #800;
    z-index:100;
    //display: none;
    padding: 4px;
    color: #fff;
    border: 1px solid #f00;
    position: absolute;
    right: 2rem;
    top: 9rem;
}
