<div class="header-container">

  <div class="header-left">
    <img src="assets/images/aamks.png">
  </div>


  <div class="header-right">

    <div class="left-top">
      <button *ngIf="main.userId == 1" (click)="showDiagnosticData()">Diagnostic</button>
    </div>

    <div class="center-top">

    </div>

    <div class="right-top">
      <p>{{ main.userName }}</p>
      <p class="email">(id: {{ main.userId }}, {{ main.email }})</p>
    </div>

    <div class="left-bottom">
      <span>
        <a routerLink="">
          <i class="material-icons" (click)="activate('projects')" [ngClass]="{'active': uiState.active == 'projects'}">view_list</i>
        </a>
      </span>
      <span *ngIf="main.currentProject != undefined">
        &nbsp;|&nbsp; {{main.currentProject.name}} ({{main.currentProject.id}}) &nbsp;|&nbsp;
      </span>
      <span *ngIf="main.currentProject != undefined && main.currentRiskScenario != undefined">
        &nbsp;|&nbsp; {{main.currentRiskScenario.name}} ({{main.currentRiskScenario.id}}) &nbsp;|&nbsp;
      </span>
    </div>

    <div class="center-bottom">
      <div *ngIf="main.currentProject != undefined && main.currentRiskScenario != undefined">
        &nbsp;|&nbsp;
        <span *ngIf="main.currentRiskScenario != undefined" (click)="updateRiskScenario(main.currentProject.id, main.currentRiskScenario.id)">
          <i class="material-icons">save</i>
        </span>
        &nbsp;|&nbsp;
        <span *ngIf="main.currentRiskScenario != undefined" (click)="runRiskScenario()">
          <i class="material-icons">directions_run</i>
        </span>
        &nbsp;|&nbsp;
      </div>
    </div>

    <div class="right-bottom">
      <div>
        |&nbsp;
        <span (click)="connectCad()">
          <i class="material-icons" [ngClass]="{'connected':websocket.isConnected}">cast</i>
        </span>
        &nbsp;|&nbsp;
        <span>
          <a routerLink="settings">
            <i class="material-icons" (click)="activate('settings')" [ngClass]="{'active': uiState.active == 'settings'}">settings</i>
          </a>
        </span>
        &nbsp;|&nbsp;
        <span (click)="connectCad()">
          <i class="material-icons" (click)="logOut()">exit_to_app</i>
        </span>
        &nbsp;|
      </div>
    </div>
  </div>
</div>