<div class="header-container">

  <div class="header-left">
    <button (click)="showDiagnosticData()">Diagnostic</button>
  </div>

  <div class="header-right">
    <div></div>
    <div>
    </div>
    <div>
      <div class="left-bottom">
        <i class="material-icons">view_list</i>
        <a routerLink="">Projects</a>
        <span *ngIf="main.currentProject != undefined">
          &nbsp;| Active project: {{main.currentProject.name}} ({{main.currentProject.id}})
        </span>
        <span *ngIf="main.currentProject != undefined && main.currentRiskScenario != undefined">
          &nbsp;| Active scenario: {{main.currentRiskScenario.name}} ({{main.currentRiskScenario.id}})
        </span>
      </div>
    </div>
    <div>
      <div class="right-bottom">
        <span *ngIf="main.currentRiskScenario != undefined" (click)="updateRiskScenario(main.currentProject.id, main.currentRiskScenario.id)">Save risk scenario
          <i class="material-icons">save</i>
        </span>
        <span *ngIf="main.currentRiskScenario != undefined" (click)="runRiskScenario()">Run risk scenario
          <i class="material-icons">save</i>
        </span>
        <span (click)="connectCad()">Connect CAD
          <i class="material-icons">save</i>
        </span>
      </div>
    </div>
  </div>

</div>