<div class="single-amper-container">

  <div class="list">
    <div class="list-title" (click)="add()">
      <i class="material-icons">add_box</i> Add FIRE
    </div>
    <perfect-scrollbar #fireScrollbar (psScrollY)="scrollbarUpdate('fire')">
      <div class="list-items">
        <div class="list-item" *ngFor="let fireItem of fires | slice: ui.fires.fire.begin:(ui.fires.fire.begin + ui.listRange)">
          <a (click)="activate(fireItem.id)" [ngClass]="{active: fireItem === fire}">{{fireItem.id}}</a>
          <i class="material-icons red" (click)="delete(fireItem.id)">delete_forever</i>
        </div>
      </div>
    </perfect-scrollbar>
    <div class="list-bottom" *ngIf="fires.length > ui.listRange">
      <i class="material-icons" *ngIf="ui.fires.fire.begin > 0" (click)="uiStateService.decreaseRange('fires.fire')">chevron_left</i>
      <div>{{ui.fires.fire.begin}} - {{ui.fires.fire.begin + ui.listRange > fires.length ? fires.length : ui.fires.obst.begin
        + ui.listRange}}</div>
      <i class="material-icons" *ngIf="ui.fires.fire.begin + ui.listRange < fires.length" (click)="uiStateService.increaseRange('fires.fire')">chevron_right</i>
    </div>
  </div>



  <div class="form-box" [ngClass]="objectType == 'current' ? 'current' : 'library'">
    <div *ngIf="!fire">
      <label>Select or add new material</label>
    </div>
    <div *ngIf="fire">

      <div class="form-title">
        <label>{{fire.id}} definition</label>
      </div>

      <div class="form-row">
        <div>
          <label>Id:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fire.id" stringInput/>
          </div>
        </div>
        <div>
          <label>Color:</label>
          <div class="field-container">
            <select [(ngModel)]="fire.surf.color">
              <option *ngFor="let color of COLORS" [ngValue]="color.value">{{color.label}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-title">
        <label>Fire type</label>
      </div>
      <div class="form-row">
        <div>
          <label>Fire type:</label>
          <div class="field-container">
            <select [(ngModel)]="fire.surf.fire_type">
              <option *ngFor="let element of ENUMS_FIRE.fireType" [ngValue]="element.value">{{element.label}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div *ngIf="fire.surf.fire_type=='constant_hrr'">
          <label>HRR/MLR:</label>
          <div class="field-container">
            <select [(ngModel)]="fire.surf.hrr.hrr_type">
              <option *ngFor="let element of ENUMS_FIRE.hrrType" [ngValue]="element.value">{{element.label}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="fire.surf.fire_type=='constant_hrr'">
          <label *ngIf="fire.surf.hrr.hrr_type=='hrrpua'">HRR per unit area:</label>
          <label *ngIf="fire.surf.hrr.hrr_type=='mlrpua'">MLR per unit area:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fire.surf.hrr.value" decimalInput>
            <ng-katex *ngIf="fire.surf.hrr.hrr_type=='hrrpua'" equation="kW/m^2"></ng-katex>
            <ng-katex *ngIf="fire.surf.hrr.hrr_type=='mlrpua'" equation="kg/s\cdot m2"></ng-katex>
          </div>
        </div>
        <div *ngIf="fire.surf.fire_type=='time_dependent_hrrpua'">
          <label>HRR/MLR:</label>
          <div class="field-container">
            <select [(ngModel)]="fire.surf.hrr.hrr_type">
              <option *ngFor="let element of ENUMS_FIRE.hrrType" [ngValue]="element.value">{{element.label}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="fire.surf.fire_type=='time_dependent_hrrpua'">
          <label *ngIf="fire.surf.hrr.hrr_type=='hrrpua'">HRR per unit area:</label>
          <label *ngIf="fire.surf.hrr.hrr_type=='mlrpua'">MLR per unit area:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fire.surf.hrr.value" decimalInput />
            <ng-katex *ngIf="fire.surf.hrr.hrr_type=='hrrpua'" equation="kW/m^2"></ng-katex>
            <ng-katex *ngIf="fire.surf.hrr.hrr_type=='mlrpua'" equation="kg/s\cdot m^2"></ng-katex>
          </div>
        </div>
        <div *ngIf="fire.surf.fire_type=='time_dependent_hrrpua'">
          <label>Time function:</label>
          <div class="field-container">
            <select [(ngModel)]="fire.surf.hrr.time_function">
              <option *ngFor="let element of ENUMS_FIRE.timeFunction" [ngValue]="element.value">{{element.label}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="fire.surf.fire_type=='time_dependent_hrrpua' && fire.surf.hrr.time_function=='ramp'">
          <label>RAMP:</label>
          <div class="field-container">
            <select [(ngModel)]="fire.surf.ramp">
              <option [ngValue]="undefined">No RAMP</option>
              <option *ngFor="let ramp of (((objectType == 'current') ? ramps : libRamps) | rampFilter:{type:'fire'})" [ngValue]="ramp">{{ramp.id}}</option>
            </select>
            <i (click)="addRamp('fire')" class="material-icons">add_box</i>
          </div>
        </div>
        <div *ngIf="fire.surf.fire_type=='time_dependent_hrrpua' && fire.surf.hrr.time_function=='tauq'">
          <label>TAU_Q:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fire.surf.hrr.tau_q" decimalInput />
          </div>
        </div>
        <div *ngIf="fire.surf.fire_type=='radially_spreading'">
          <label>HRR/MLR:</label>
          <div class="field-container">
            <select [(ngModel)]="fire.surf.hrr.hrr_type">
              <option *ngFor="let element of ENUMS_FIRE.hrrType" [ngValue]="element.value">{{element.label}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="fire.surf.fire_type=='radially_spreading'">
          <label *ngIf="fire.surf.hrr.hrr_type=='hrrpua'">HRR per unit area:</label>
          <label *ngIf="fire.surf.hrr.hrr_type=='mlrpua'">MLR per unit area:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fire.surf.hrr.value" decimalInput>
            <ng-katex *ngIf="fire.surf.hrr.hrr_type=='hrrpua'" equation="kW/m^2"></ng-katex>
            <ng-katex *ngIf="fire.surf.hrr.hrr_type=='mlrpua'" equation="kg/s\cdot m^2"></ng-katex>
          </div>
        </div>
        <div *ngIf="fire.surf.fire_type=='radially_spreading'">
          <label>Spread rate:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fire.surf.hrr.spread_rate" decimalInput />
            <ng-katex equation="m/s"></ng-katex>
          </div>
        </div>
        <div *ngIf="fire.surf.fire_type=='radially_spreading' || (fire.surf.fire_type=='time_dependent_hrrpua' && fire.surf.hrr.time_function=='tauq')">
          <label>Alpha:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fire.surf.hrr.alpha" decimalInput />
            <ng-katex equation="W/s^2"></ng-katex>
          </div>
        </div>
        <div *ngIf="(fire.surf.fire_type=='radially_spreading' || fire.surf.fire_type=='constant_hrr' || (fire.surf.fire_type=='time_dependent_hrrpua' && !fire.surf.ramp)) && fire.surf.hrr.hrr_type=='hrrpua'">
        <!--<div *ngIf="(fire.surf.fire_type=='radially_spreading' || fire.surf.fire_type=='constant_hrr' || (fire.surf.fire_type=='time_dependent_hrrpua' && !fire.surf.ramp.steps)) && fire.surf.hrr.hrr_type=='hrrpua'">-->
          <label>Max HRR:</label>
          <div class="field-container">
            {{ fire.totalHRR() }}
            <ng-katex equation="kW"></ng-katex>
          </div>
        </div>
        <div *ngIf="fire.surf.fire_type=='radially_spreading' && fire.surf.hrr.hrr_type=='hrrpua'">
          <label>Max HRR after:</label>
          <div class="field-container">
            {{ fire.totalTime() }}
            <ng-katex equation="s"></ng-katex>
          </div>
        </div>
        <div *ngIf="fire.surf.ramp && fire.surf.ramp.id && fire.surf.fire_type=='time_dependent_hrrpua' && fire.surf.hrr.time_function=='ramp'">
          <label>Add step:</label>
          <div class="field-container">
            <i class="material-icons" (click)="functions.fire.addRampStep()">add_box</i>
          </div>
        </div>

      </div>
      <ramp-chart *ngIf="fire.surf.ramp && fire.surf.ramp.id && fire.surf.fire_type=='time_dependent_hrrpua' && fire.surf.hrr.time_function=='ramp'"
        [rampId]="fire.surf.ramp.id" [value]="fire.surf.hrr.value" [objectType]="objectType" [xLabel]="'Time'" [yLabel]="'HRR'"
        [units]="['s','kW']"></ramp-chart>

      <!-- dodac inne wykresy -->



      <div class="form-title">
        <label class="header" *ngIf="fire.surf.fire_type=='time_dependent_hrrpua' || fire.surf.fire_type=='constant_hrr'">Vent XB</label>
        <label class="header" *ngIf="fire.surf.fire_type=='radially_spreading'">Vent XB &amp; XYZ</label>
      </div>
      <div class="form-row">
        <div>
          <label>X1:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fire.vent.xb.x1" decimalInput />
            <ng-katex equation="m"></ng-katex>
          </div>
        </div>
        <div>
          <label>X2:</label>
          <div class=" field-container ">
            <input type="text " [ngModelOptions]="{updateOn: 'blur'} " [(ngModel)]="fire.vent.xb.x2 " decimalInput />
            <ng-katex equation="m"></ng-katex>
          </div>
        </div>
        <div>
          <label>Y1:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fire.vent.xb.y1" decimalInput />

            <ng-katex equation="m"></ng-katex>
          </div>
        </div>
        <div>
          <label>Y2:</label>
          <div class=" field-container ">
            <input type="text " [ngModelOptions]="{updateOn: 'blur'} " [(ngModel)]="fire.vent.xb.y2 " decimalInput />
            <ng-katex equation="m"></ng-katex>
          </div>
        </div>
        <div>
          <label>Z1:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fire.vent.xb.z1" decimalInput />
            <ng-katex equation="m"></ng-katex>
          </div>
        </div>
        <div>
          <label>Z2:</label>
          <div class=" field-container ">
            <input type="text " [ngModelOptions]="{updateOn: 'blur'} " [(ngModel)]="fire.vent.xb.z2 " decimalInput />
            <ng-katex equation="m"></ng-katex>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div *ngIf="fire.surf.fire_type=='radially_spreading'">
          <label>X:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fire.vent.xyz.x" decimalInput />
            <ng-katex equation="m"></ng-katex>
          </div>
        </div>
        <div *ngIf=" fire.surf.fire_type=='radially_spreading' ">
          <label>Y:</label>
          <div class="field-container ">
            <input type="text " [ngModelOptions]="{updateOn: 'blur'} " [(ngModel)]="fire.vent.xyz.y " decimalInput />
            <ng-katex equation="m"></ng-katex>
          </div>
        </div>
        <div *ngIf="fire.surf.fire_type=='radially_spreading'">
          <label>Z:</label>
          <div class="field-container">
            <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="fire.vent.xyz.z" decimalInput />
            <ng-katex equation="m"></ng-katex>
          </div>
        </div>
      </div>

    </div>
  </div>



  <div class=" lib-wrapper ">
    <div class="lib-drawer " [ngClass]="ui.fires.fire.lib=='closed' ? 'closed' : 'opened' ">
      <div class="lib-label-wrapper ">
        <div class="lib-label " (click)="toggleLibrary() ">
          <label>LIBRARY</label>
        </div>
      </div>
      <div class="lib-area ">
        <div class="list ">
          <div class="list-title " (click)="add(true) ">
            <i class="material-icons ">add_box</i> Add FIRE
          </div>
          <perfect-scrollbar #fireLibScrollbar (psScrollY)="scrollbarUpdate( 'libFire') ">
            <div class="list-items ">
              <div class="list-item " *ngFor="let fireItem of lib.fires | slice: ui.fires.libFire.begin:(ui.fires.libFire.begin
                  + ui.listRange) ">
                <a (click)="activate(fireItem.id, true) " [ngClass]="{active: fireItem===fire} ">{{fireItem.id}}</a>
                <i class="material-icons " (click)="importLibraryItem(fireItem.id) ">content_copy</i>
                <i class="material-icons red " (click)="delete(fireItem.id, true) ">delete_forever</i>
              </div>
            </div>
          </perfect-scrollbar>
          <div class="list-bottom " *ngIf="libFires.length> ui.listRange">
            <i class="material-icons" *ngIf="ui.fires.libFire.begin > 0" (click)="uiStateService.decreaseRange('fires.libFire')">chevron_left</i>
            <div>{{ui.fires.libFire.begin}} - {{ui.fires.libFire.begin + ui.listRange > libFires.length ? libFires.length : ui.fires.obst.begin
              + ui.listRange}}</div>
            <i class="material-icons" *ngIf="ui.fires.libFire.begin + ui.listRange < libFires.length" (click)="uiStateService.increaseRange('fires.libFire')">chevron_right</i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>