body { 
	background-color: #444;
	font-family: 'Sans';
	color: #eee;
	overflow: hidden;
}

name { 
	border: 1px solid #444;  
}

svg { 
	border: 1px solid #555; 
	font: 10px sans;
}

name:hover { 
	background-color: #888; 
}

status { 
	display: block;
	width: 1200px;
	margin-top: 20px;
}
logger { 
	position: fixed;
	height: 20px;
	top: 40px;
	left: 40px;
	z-index: 10;
}

text { 
	fill: #888;
	font-size: 11px;
	font-family: 'Sans' 
}

.legend { 
	display: inline-block;
	padding: 4px;  
	background-color: #f00; 
	margin-right: 4px;
	color: #333;
}

.axis path, .axis line {
	fill: none;
	stroke: #383838;
	font-family: 'Sans' 
}

show-setup-box {
    cursor: default;
    float: right;
}
show-setup-box:hover {
    opacity: 0.5;
}

setup-box {
    opacity: 0.9;
    background-color: #800;
    z-index:100;
    display: none;
    padding: 10px;
    color: #fff;
    border: 1px solid #f00;
    position: absolute;
    right:0px;
    top:40px;
}


table {
	border-collapse: collapse;
}

table td {
    white-space:nowrap;
	padding: 6px;
	border: 1px solid #a00; 
}

.snap_v, .snap_h { 
	stroke            : #f80;
	stroke-width      : 0.5;
	stroke-dasharray  : 3;
	stroke-opacity    : 1;
}
