body { 
	background-color: #444;
	font-family: 'Sans';
	color: #eee;
	overflow: hidden;
}

name { 
	border: 1px solid #444;  
}

svg { 
	border: 1px solid #555; 
	font: 10px sans;
}

name:hover { 
	background-color: #888; 
}

status { 
	display: block;
	width: 1200px;
	margin-top: 20px;
}
logger { 
	position: fixed;
	height: 20px;
	top: 40px;
	left: 40px;
	z-index: 10;
}

text { 
	fill: #888;
	font-size: 11px;
	font-family: 'Sans' 
}

.legend { 
	display: inline-block;
	padding: 4px;  
	background-color: #f00; 
	margin-right: 4px;
}

.axis path, .axis line {
	fill: none;
	stroke: #383838;
	font-family: 'Sans' 
}
