<div class="amper-container">
  <div class="form-box">

    <div class="form-title">
      <label class='header'>File's settings</label>
    </div>
    <div class="form-row">
      <div>
        <label>Fds file:</label>
        <div class="field-container">
          <i class="material-icons" ng-click="functions.download_fds()">file_download</i>
          <!--<i class="material-icons" ng-click="functions.upload_fds()">file_upload</i>-->
          <!--<i class="material-design" ng-click="functions.delete_fds()">b</i>-->
        </div>
      </div>
      <div>
        <label>CAD file:</label>
        <div class="field-container">
          <!--<i class="material-design" ng-click="functions.ac_link()">g</i>
          <i class="material-design" ng-click="functions.ac_unlink()">h</i>
          <i class="material-design" ng-click="functions.ac_sync()">i</i>-->
        </div>
      </div>
    </div>

    <div class="form-title">
      <label class='header'>Scenario settings</label>
    </div>
    <div class="form-row">
      <div>
        <label>Title:</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="general.head.title" stringInput>
        </div>
      </div>
      <div>
        <label>Chid:</label>
        <div class="field-container">
          <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="general.head.chid" strinInput>
        </div>
      </div>
      <div class="form-column-break"></div>
      <div>
        <label>Time begin:</label>
        <div class="field-container">
          <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="general.time.t_begin" decimalInput>
          <ng-katex equation="s"></ng-katex>
        </div>
      </div>
      <div>
        <label>Time end:</label>
        <div class="field-container">
          <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="general.time.t_end" decimalInput>
          <ng-katex equation="s"></ng-katex>
        </div>
      </div>
      <div>
        <label>Save every:</label>
        <div class="field-container">
          <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="dump.dt_restart" decimalInput>
          <ng-katex equation="s"></ng-katex>
        </div>
      </div>
      <div class="form-column-break"></div>
      <div>
        <label>Restart calculation:</label>
        <div class="field-container">
          <input type="checkbox" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="general.misc.restart" />
        </div>
      </div>
    </div>

    <div class="form-title">
      <label class='header'>Miscellaneous</label>
    </div>
    <div class="form-row">
      <div>
        <label>Ambient temperature:</label>
        <div class="field-container">
          <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="general.misc.tmpa" decimalInput>
          <ng-katex equation="^{\circ}C"></ng-katex>
        </div>
      </div>
      <div>
        <label>Background pressure:</label>
        <div class="field-container">
          <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="general.misc.p_inf" decimalInput>
          <ng-katex equation="Pa"></ng-katex>
        </div>
      </div>
      <div>
        <label>Humidity:</label>
        <div class="field-container">
          <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="general.misc.humidity" decimalInput>
          <ng-katex equation="\%"></ng-katex>
        </div>
      </div>
      <div class="form-column-break"></div>
      <div>
        <label>Gravity X,Y,Z:</label>
        <div class="field-container">
          <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="general.misc.gvec_x" decimalInput>
          <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="general.misc.gvec_y" decimalInput>
          <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="general.misc.gvec_z" decimalInput>
          <ng-katex equation="m/s^2"></ng-katex>
        </div>
      </div>
      <div class="form-column-break"></div>
      <div>
        <label>Noise:</label>
        <div class="field-container">
          <input type="checkbox" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="general.misc.noise" />
        </div>
      </div>
      <div>
        <label>Noise velocity:</label>
        <div class="field-container">
          <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="general.misc.noise_velocity" decimalInput>
          <ng-katex equation="m/s"></ng-katex>
        </div>
      </div>
    </div>

    <div class="form-title">
      <label class='header'>Other</label>
    </div>
    <div class="form-row">
      <div>
        <label>DNS:</label>
        <div class="field-container">
          <input type="checkbox" [(ngModel)]="general.misc.dns" />
        </div>
      </div>
      <div>
        <label>Overwrite:</label>
        <div class="field-container">
          <input type="checkbox" [(ngModel)]="general.misc.overwrite">
        </div>
      </div>
    </div>
  </div>
</div>